body{
    height: 100vh;
    margin:0;
    padding:1%;
}

.axis path,
  .axis line {
    stroke: 000;
  }
 
  .y .tick line {
    stroke: #ddd;
  }
  .piechart {
    height: 100vh;
    margin-left:2%;
}

.barchart{
    height: 100vh;
    margin-left:2%;
}